<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../WDD340/#/notes.html">
    <title>Template</title>

    <script>
        //Problem#1


        //Problem#2


        //Problem#3


        //Problem#4


        //Problem#51


        //Stretch problem 1

           
        //Stretch problem 2

                
        //Stretch problem 3
        

        //Stretch problem 4


        //Stretch problem 5

    
</script>

<style>
    textarea {
        width: 800px;
        height: 250px;
        background-color: #ffffe0;
    }
</style>

</head>
<body>
    <!--Add in Wk no. &  link to wk# notes-->
<section id="notes_display">
    <h2>Wk  Notes</h2>
  
       
</section> 



<section id="team_display">
    <h2>Team Activity</h2>
    <h3 class="teamheader">Problem #1</h3><br>
        <P>Psst: have a look at the JavaScript Console 💁</p>

    
    <h3 class="teamheader">Problem #2</h3><br>



    <h3 class="teamheader">Problem #3</h3><br>



    <h3 class="teamheader">Problem #4</h3><br>



    <h3 class="teamheader">Problem #5</h3><br>




    <h3 class="teamheader">Stretch #1</h3><br>



    <h3 class="teamheader">Stretch #2</h3><br>


    <h3 class="teamheader">Stretch #3</h3><br>


    <h3 class="teamheader">Stretch #4</h3><br>


    <h3 class="teamheader">Stretch #5</h3><br>


</section>


<section id="examples_display">
    <h2>Examples</h2>

</section>



<section id="individual_display">
    <h2>Individual Assignments</h2>


</section>

<section id ="ref_display">S
    <h2>References</h2>

    
</section>

</body>
</html>