<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/cs" href="styles/main.css">
    <title>JavaScript: Novice to Ninja, 2nd Edition</title>

    <script>
        //Problem#1


        //Problem#2


        //Problem#3


        //Problem#4


        //Problem#51


        //Stretch problem 1


        //Stretch problem 2


        //Stretch problem 3
    </script>

    <style>
        textarea {
            width: 800px;
            height: 250px;
            background-color: #ffffe0;
        }
    </style>

</head>

<body>
    <header>

    </header>
    <main>
        <!--Create a link to the note.html file-->
        <section>

            <h2>Wk 2 Notes</h2>
            <link rel="stylesheet" href="../WDD340/wk3/notes.html">

        </section>

        <section>
            <h1>Team Assignments</h1>
            <h2>Core Requirements</h2><br>
            <h3 class="teamheader">Problem #1</h3><br>
            <P>Psst: have a look at the JavaScript Console 💁</p>


            <h3 class="teamheader">Problem #2</h3><br>



            <h3 class="teamheader">Problem #3</h3><br>



            <h3 class="teamheader">Problem #4</h3><br>



            <h3 class="teamheader">Problem #5</h3><br>




            <h3 class="teamheader">Stretch #1</h3><br>



            <h3 class="teamheader">Stretch #2</h3><br>


            <h3 class="teamheader">Stretch #3</h3><br>


            <h3 class="teamheader">Stretch #4</h3><br>


            <h3 class="teamheader">Stretch #5</h3><br>
        </section>


        <section id="examples_display">
            <h2>Examples</h2>

        </section>



        <section id="individual_display">
            <h2>Individual Assignments</h2>


        </section>

        <section id="ref_display">S
            <h2>References</h2>


        </section>
    </main>
    <footer></footer>
    <script src="scripts/main.js"></script>
</body>

</html>