<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tic-Tac-Toe Game Board</title>
        <link rel="stylesheet" href="styles/styles.css">
        
        <script>
            
        </script>
        <style>
            textarea {
                background-color: #ffffe0;
                height: 250px;
                width: 800px;
            }
        </style>
   </head>

<body>
    <header class="page_header"></header>
    <main>
        <!--Create a link to the note.html file-->
        <section>
            <h1>Wk 2 Notes</h1>
            <link rel="stylesheet" href="../WDD340/wk3/notes.html">
            
            <div class="">Here's a complete reference<a href="">
                Sitepoint</a>
            </div>
            
            <div class="">Here's a complete reference<a href="">
                Sitepoint</a>
            </div>
        </section>

        <section>
            <h1>Team Assignments</h1>
            <h2>Core Requirements</h2><br>
            <h3 class="teamheader">Problem #1</h3><br>
          


            <h3 class="teamheader">Problem #2</h3><br>



            <h3 class="teamheader">Problem #3</h3><br>



            <h3 class="teamheader">Problem #4</h3><br>



            <h3 class="teamheader">Problem #5</h3><br>




            <h3 class="teamheader">Stretch #1</h3><br>



            <h3 class="teamheader">Stretch #2</h3><br>


            <h3 class="teamheader">Stretch #3</h3><br>


            <h3 class="teamheader">Stretch #4</h3><br>


            <h3 class="teamheader">Stretch #5</h3><br>
        </section>


        <section id="examples_display">
            <h2>Examples</h2>

        </section>



        <section id="individual_display">
            <h2>Individual Assignments</h2>


        </section>

        <section id="ref_display">S
            <h2>References</h2>


        </section>
    </main>
    <footer></footer>
    <script src="scripts/main.js"></script>
</body>

</html>