/*Chapter 12 Canvas API*/


/***********************************************************************
Chp 12
CANVAS API
/***********************************************************************/




/*********************************************
  * Add height & width to the Canvas API
********************************************/

#myCanvas {
    width: 200%;
    height:  200px;
  }
  
  
  
  /*********************************************
    * Add a height and width to the canvas api
  ********************************************/
  .myCanvas {
    height: 200px;
    width: 200%;
  }
  /*********************************************
    * Add a border to the canvas
  ********************************************/
  .myCanvas {
    border: dotted 2px black;
  }
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/
  
  
  
  /*********************************************
    * Move up along the y axis by 30px. 
  ********************************************/