/*Style Team 8 Activity*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #ffffff;
  /* display: flex;
  flex-direction: row; */
  /* float: none; */
  font-family: Montserrat, sans-serif;
  height: 80px;
  width: 100%
}

main {
  display: flex;
  flex-flow: column wrap;
}

.hidden {
  display: none;
}
div>button>#prev {
  background-color: #00b659;
  border-radius: 5px;
  color: #ffffff;
  height: 45px;
  width: 195px;
}

div>button>#next {
  background-color: #6666ff;
  border-radius: 5px;
  color: #ffffff;
  height: 45px;
  width: 195px;
}

.border {
  border-top-color: #000000;
  border: 1px solid #000000;
  margin: 5px auto;
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  width: 75%;
}

.footer {
  background-color: #f0b3ff;
  border-top-style: solid;
  font-size: 15px;
  height: 75px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.footer_ph {
  font-weight: bold;
}

#footer {
  display: flex;
  font-weight: bold;
  word-spacing: 2px;
}
#peopleList td {
  cursor: pointer;
}

#detailsbox {
  flex: 1 0 15em;
  padding: 1em;
  text-align: center;
  border: 2px solid;
}

#detailsbox dl {
  border: 1px solid;
  text-align: left;
}

#peopleList {
  display: flex; 
  flex-flow: row wrap;
  list-style-type: none;
}

#peopleList thead {
  background-color: lightgray;
}

#peopleList tr {
  border: 1px solid;
  padding: 0.5em;
  height: 44px;
}
#peopleList tr:nth-child(even) {
  background-color: azure;
}
#peopleList tr:hover {
  background-color: bisque;
  text-decoration: underline;
} 
/*Make the appl mobile responsive*/
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .content {
  background-color: #ffffff;
  /* display: flex; */
  /* flex-direction: row; */
  /* float: none; */
  width: 100%;
}
}
