/* Styling for App */
.App {
  min-height: 1280px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.search-form {
min-height: 1280px;
display: flex;
justify-content: center;
align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 15px;  
}

.search-button {
  background: light lavenderblush;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
}

 /************************* Styling for App ************************/
 .App {
  min-height: 1280px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  }

  .search-form {
  min-height: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .search-bar {
  width: 50%;
  border: none;
  padding: 15px;  
  }

  .search-button {
  background: #993399;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  }
  .recipes {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }