
/* Style the logo image in the header */
#div.portfolio_logo {
    image-rendering: auto;
       
    background-size: 20%;
    display: flex;
    float: left;
    height: 30px;
    margin-bottom: 6px;
    padding: 10px; 
    width:100%; 

}
img.lady{
    background-image: url(WDD_330/images/ladylogo.gif); 
    height: 30px;
    width: 50%
}

/*Style the Header*/
header.page_header {
    background-color: #f0b3ff;
    color: #ffffff;
    display: flex;
    height: 20px;
    margin-top: 20px;
    padding-bottom: 35px;
    padding-left: 10px;
    width: 100%;
}

/*Add color to nav bar*/
border {
    border-top-color: #b300b3;
}






/*Style the links*/
.header a:hover {
    background-color: #ddd;
    color: #cc0000;
}

/*nav bar ul*/
ul#nav_bar {
    display: flex;   
    font-weight: bolder;    
    padding: 5px 170px;
}

header.page_header>#ulnav_bar {
    margin-left: 135px;
}


li {
    margin-left: 20px;
    width: 100%;
}

a {
    display: flex;
    color: #330033;
    font-size: 15px;
    word-spacing: 8px;
}

/*Body: index page list ul*/
.wkly_index {
    font-variant: all-small-caps;
    font-weight: bolder;
    margin-top: 6px; 
}

/*HTML SELECTORS*/
/*Remove the bullets from the mobile menu*/
/*Wk 1 work*/
nav ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    background-color: powderblue;
    border: 1px solid #3a1aad;
    display: none;
}

/*Expand the links to the full width of the page and remove the line from under the text links*/
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

/*CLASS SELECTORS*/
/* Open the class="open" when present */

.open li {
    display: block;
}

/*Design the h1 heaers*/
h1 {
    margin-left: 5px;
}

/*ID SELECTORS*/

/*Wk 2 work*/
/*Body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/*Indent paragrahs in notes.html*/
.tab {
    margin-left: 40px;
}

/*assign the color to the rainbow page*/
.rebeccapurple {
    background-color: #663399;

}

/*Style the footer*/
.footer {
    border-top-style: solid;
    font-size: 15px;
    margin-top: 25px;
    padding: 4px;
    text-align: center;
    width: 99%;
}